body{
	background-color:#232323; 
	margin:0; 
	font-family:"Montserrat","Avenir";
}
.square{
	width: 30%;
	float:left;
	margin:1.66%;
	padding-bottom:30%;
	background:orange;
	border-radius:45%;
	transition:background 0.5s;
}
#changes{
	font-size:200%;
}
#container{
	max-width:600px;  
	margin:20px auto;

}
h1{
	color:white;
	text-align:center;
	background:#38DCD1;
	font-weight:normal;
	margin:0;
	line-height:1.2;
	padding:20px 0;
	text-transform: uppercase;
}

#tablet{
	text-align:center;
	background: white;
	text-decoration-color: black;
}
.styles{
	background:#FAEE52;
}
#message{
	display:inline-block;
	width:20%;
}
button{
	border:none;
	background: none;
	text-transform: uppercase;
	height:100%;
	font-size:inherit;
	letter-spacing:0.9px;
	color:#38DCD1;
	font-weight:650px;
	transition:all 0.4s;
	outline:none;
}
button:hover{
	color:red;
	background:#38DCD1;
}
@media(max-width:900px)
{   
	h1{
		font-size:120%;
	}
	#changes{
       font-size:140%;
	}
}